body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.white {
    color: white;
}

.header {
    font-weight: normal;
    font-size: 50px;
}

.link {
    color: aquamarine;
    font-size: 16px;
    display: block;
}

.subh {
    font-weight: 300;
    font-size: 42px;
}

.txt {
    font-size: 21px;
}

.copyright {
    text-align: right;
}

.gray {
    color: gray;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}